hl{
color:  rgh(246,3,3);
font: size 40px;
text-alegn: center
}

body {
color: black;
background-color: aquamarine;
}

p{
font: size 20px;
color: black
}

lreaber{
color: bliieusolet;
font: .size 35px;
border-bottom rgb(166.0.255);
margin:0;
padding: 20px;
